.header{
    background-color:#222523;
    padding: 15px;
}

.header-title{
    color:#00abc2;
    text-shadow: #2c2b2c 2px 2px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    font-family: 'Encode Sans SC', sans-serif;
}